.dashboardHeader {
    background: rgba(255, 255, 255, 0.7);
    height: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

.dashboardHeaderElements {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.dashboardHeaderCompany {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.dashboardMainBody {
    width: 100%;
    height: 95%;
    float: left;
}

.dashboardTask {
    float: left;
    width: 400px;
    height: 700px;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.dashboardTaskTitle {
    text-align: center;
    font-size: 28px;
    color: rgba(240, 240, 240, 0.9);
    background: dodgerblue;
    height: 50px;
}