body {
    background: url('../images/loginPageBackground.png') no-repeat;
    background-size: auto;
    font-family: "Montserrat", monospace;
}

.loginArea {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    background: #F2F3F4;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #888888;
}

.loginDataArea {
    padding: 20px;
}

.loginData {
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginData input {
    width: 100%;
}

.loginDataSubmit {
    float: left;
    width: 95%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    cursor:pointer;
}

.loginAreaTitle {
    text-align: center;
}

.loginPageTitle {
    color: white;
    font-size: 78px;
}

.loginPageTitleArea {
    text-align: center;
}

.loginLabel {
    width: 100%;
    float: left;
    text-align: left;
}

.loginLabelInput {
    width: 95%;
    float: left;
}

.loginDataHref {
    float: left;
    width: 100%;
    text-align: left;
}

.loginDataSubmit input[type=submit] {
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
    background: linear-gradient(180deg, rgba(0, 99, 255, 1) 0%, rgba(0, 168, 255, 1) 100%, rgba(9, 102, 121, 1) 100%);
    font-size: 20px;
    border-radius: 5px;
    width: 50%;
}