.loginArea {
    width: 400px;
    background: #F2F3F4;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #888888;
    margin: 0 auto;
}

.loginDataArea {
    padding: 20px;
}

.loginData {
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    cursor: pointer;
}

.loginData input {
    width: 100%;
    border: 1px solid black;
}

.loginLabel {
    width: 100%;
    float: left;
    text-align: left;
}

.loginLabelInput {
    width: 100%;
    float: left;
}

.loginDataHref {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginDataSubmit input[type=submit] {
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
    background: linear-gradient(180deg, rgba(0, 99, 255, 1) 0%, rgba(0, 168, 255, 1) 100%, rgba(9, 102, 121, 1) 100%);
    font-size: 20px;
    border-radius: 5px;
    width: 50%;
}

.loginPageTitle {
    color: white;
    font-size: 78px;
}

.loginPageTitleArea {
    text-align: center;
    padding:20px;
}

@media (max-width: 980px) {
    .loginArea {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .loginArea {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .loginPageTitle {
        font-size: 50px;
    }
}