@import "./register.css";
@import "./index.css";
@import "./home.css";

body {
    background: url('../images/loginPageBackground.png') repeat;
    background-size: cover;
    font-family: "Montserrat", monospace;
}
