<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<style type="text/css"></style>
<div class="alert alert-success alert-dismissible fade show" role="alert"
     th:if="${successMessage != null}">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <span th:text="${successMessage}">message</span>
</div>

<div class="loginPageTitleArea">
    <h1 class="loginPageTitle">Meta-Bug</h1>
</div>
<div class="loginArea">
    <div class="loginDataArea" style="padding:20px">
        <form action="/login" method="post" name="f"
              onsubmit="return validate();"
              th:action="@{/login}">
            <div class="loginData">
                <div class="loginLabel">Login:</div>
                <div class="loginLabelInput">
                    <input class="form-control mr-sm-2" id="login"
                           name="login" type="text">
                </div>
            </div>
            <div class="loginData">
                <div class="loginLabel">Password:</div>
                <div class="loginLabelInput">
                    <input class="form-control mr-sm-2"
                           id="password"
                           name="password"
                           type="password">
                </div>
            </div>
            <div class="loginDataSubmit">
                <input class="button" type="submit" value="Log in">
            </div>
            <div class="loginDataHref">
                <a th:href="@{/register}">Sign up</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
