<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
<style type="text/css">

</style>
<div class='loginPageTitleArea'><h1 class='loginPageTitle'>Meta-Bug</h1></div>
<div class="loginArea">
	<div class='loginDataArea' style="padding:20px">
		<div class='loginData'>
			<div class='loginLabel'>Login:</div>
			<div class='loginLabelInput'><input type='text' id='login'></div>
		</div>
		<div class='loginData'>
			<div class='loginLabel'>Password:</div>
			<div class='loginLabelInput'><input type='password' id='password'></div>
		</div>
		<div class='loginDataSubmit'>
		<input type='submit' value='Log in'>
		</div>
		<div class='loginDataHref'>
			<a href='registerPage.html'>Sign up</a>
		</div>
	</div>
</div>
</body>
</html>