<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
<style type="text/css"></style>

<div class="registerPageTitleArea">
	<h1 class="registerPageTitle">Meta-Bug</h1>
</div>
<div class="registerArea">
	<div style="padding:20px">
		<div class="registerData">
			<div class="registerLabel">Login:</div>
			<div class="registerLabelInput">
				<input id="login" type="text">
			</div>
		</div>
		<div class="registerData">
			<div class="registerLabel">E-mail:</div>
			<div class="registerLabelInput">
				<input id="email" type="text">
			</div>
		</div>
		<div class="registerData">
			<div class="registerLabel">Password:</div>
			<div class="registerLabelInput">
				<input id="password" type="password">
			</div>
		</div>
		<div class="registerData">
			<div class="registerLabel">Confirm password:</div>
			<div class="registerLabelInput">
				<input id="confirmPassword" type="password">
			</div>
		</div>
		<div class="registerDataSubmit">
		<input class="button" type="submit" value="Register">
		</div>
		<form method="get" th:action="@{/}">
            <div class="registerDataHref">
                <a th:href="@{/}">Or log in</a>
            </div>
        </form>
	</div>
</div>
</body>
</html>