<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Ticket</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet">
    <base href="/">
    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css">
    <script th:src="@{js/home.js}"></script>
</head>
<body>
<style type="text/css"></style>

<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/home">Meta-Bug</a>

    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-success my-2 my-sm-0"
                style="margin-right: 10px"
                onclick="redirectTo('/add-ticket')"
                type="button">+
        </button>
        <div class="dropdown dashboardHeaderElements my-2 my-sm-0"
             style="float:right;">
            <a aria-expanded="false" aria-haspopup="true"
               class="btn btn-secondary dropdown-toggle"
               data-toggle="dropdown" href="#" id="dropdownMenuLink"
               role="button" th:text="'Welcome, ' + ${username} + '!'">
                username
            </a>

            <div aria-labelledby="dropdownMenuLink"
                 class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-lg clearfix new-discussion-timeline  p-responsive">
    <div class="repository-content ">
        <div class="js-check-all-container" data-pjax="">
            <form accept-charset="UTF-8" action=""
                  class="view_ticket" id="view_ticket" method="post"
                  th:action="@{/ticket/{path}(path=${id})}"
                  th:object="${ticketViewDto}">
                <div class="mt-3" data-issue-and-pr-hovercards-enabled=""
                     data-project-hovercards-enabled="">
                    <div class="gutter-condensed gutter-lg d-flex flex-column flex-md-row">
                        <div class="flex-shrink-0 col-12 col-md-9 mb-5 mb-md-0">
                            <div class="timeline-comment-wrapper timeline-new-comment composer composer-responsive">
                                <div class="timeline-comment">
                                    <div class="discussion p-0 p-md-2">
                                        <div>Author:</div>
                                        <input aria-label="Title"
                                               autocomplete="off"
                                               autofocus="autofocus"
                                               disabled="disabled"
                                               class="form-control input-lg input-block input-contrast required title js-session-resumable js-quick-submit"
                                               id="issue_author"
                                               name="issue[authorId]"
                                               required="required"
                                               th:field="*{author}"
                                               type="text">
                                    </div>
                                    <div class="discussion-topic-header p-0 p-md-2">
                                        <div>Developer:</div>
                                        <input aria-label="Title"
                                               autocomplete="off"
                                               autofocus="autofocus"
                                               disabled="disabled"
                                               class="form-control input-lg input-block input-contrast required title js-session-resumable js-quick-submit"
                                               id="issue_developer"
                                               name="issue[developerId]"
                                               th:field="*{developer}"
                                               type="text">
                                    </div>
                                    <div class="discussion-topic-header p-0 p-md-2">
                                        <div>Status:</div>
                                        <input aria-label="Title"
                                               autocomplete="off"
                                               autofocus="autofocus"
                                               disabled="disabled"
                                               class="form-control input-lg input-block input-contrast required title js-session-resumable js-quick-submit"
                                               id="status"
                                               name="issue[status]"
                                               th:field="*{status}"
                                               type="text">
                                    </div>
                                    <div class="discussion-topic-header p-0 p-md-2">
                                        <div>Title:</div>
                                        <input aria-label="Title"
                                               autocomplete="off"
                                               autofocus="autofocus"
                                               disabled="disabled"
                                               class="form-control input-lg input-block input-contrast required title js-session-resumable js-quick-submit"
                                               id="issue_title"
                                               name="issue[title]"
                                               required="required"
                                               th:field="*{title}"
                                               type="text">
                                    </div>
                                    <div class="write-content js-write-bucket tooltipped tooltipped-ne tooltipped-no-delay tooltipped-align-left-1 hide-reaction-suggestion upload-enabled mx-0 mt-2 mb-2 mx-md-2 hx_sm-hide-drag-drop js-reaction-suggestion"
                                         data-reaction-markup="Would you like to leave a reaction instead?">
                                        <div>Description:</div>
                                        <textarea
                                                aria-label="Comment body"
                                                class="form-control input-contrast comment-form-textarea js-comment-field js-paste-markdown js-task-list-field js-quick-submit js-size-to-fit js-session-resumable js-saved-reply-shortcut-comment-field"
                                                id="issue_body"
                                                name="issue[body]"
                                                required="required"
                                                disabled="disabled"
                                                th:field="*{description}"></textarea>
                                    </div>
                                    <div class="flex-items-center flex-justify-end mx-2 mb-2 px-0 d-none d-md-flex">
                                        <button class="btn btn-secondary"
                                                type="submit"
                                                name="back">
                                            Back
                                        </button>
                                        <button class="btn btn-warning"
                                                type="submit"
                                                name="unassign">
                                            Unassign ticket
                                        </button>
                                        <button class="btn btn-success"
                                                type="submit"
                                                name="markDone">
                                            Task complete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>